@import 'animations';

@font-face {
  font-family: "FredericatheGreat";
  src: local("FredericatheGreat"),
  url(~/assets/static/FrederickatheGreat-Regular.ttf) format("truetype");
}

.html {
  font-family: "FredericatheGreat", sans-serif !important;
}

#app {
  color: var(--v-secondary-base) !important;
  overflow-y: auto !important;

  .v-main {
    margin-top: 80px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1200px;
  }
}
