@import 'animations';

@font-face {
  font-family: "FredericatheGreat";
  src: local("FredericatheGreat"),
  url(~/assets/static/FrederickatheGreat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OleoScript";
  src: local("OleoScript"),
  url(~/assets/static/OleoScript-Regular.ttf) format("truetype");
}

.html {
  font-family: "FredericatheGreat", sans-serif !important;
}

#app {
  color: var(--v-secondary-base) !important;
  overflow-y: auto !important;

  .v-main {
    margin-top: 80px;
  }
}

.scale-on-hover {
  transition: 500ms;
  transition-property: transform;

  &:hover {
    transform: scale(1.08);
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1200px;
  }
}
