//$navbar-background: transparentize(#00695C, 0.03);
//$drawer-background: transparentize(#00695C, 0.2);

$grid-breakpoints: (
  'xs': 0,
  'sm': 600px,
  'md': 960px,
  'lg': 1280px - 16px,
  'xl': 1920px - 16px
);
$font-size-root: 24px;
$body-font-family: "FredericatheGreat", sans-serif !important;

//$material-dark: (
//  //'background': #121212,
//  'background': var(--v-primary-base),
//  'color': var(--v-secondary-base),
//  'text-color': var(--v-secondary-base),
//  btn: var(--v-secondary-base),
//  navigation-drawer: $drawer-background
//);

//$material-dark

//$material-dark: map-merge($material-dark, (
//  sheet: (color: var(--v-secondary-base)),
//  )
//);

// Required for modifying core defaults
@import '~vuetify/src/styles/styles.sass';

$material-light: map-merge($material-light, (
  'background': var(--v-background-base, map-get($material-light, 'background')) ,
));
$material-dark: map-merge($material-dark, (
  //'background': var(--v-background-base, map-get($material-dark, 'background')) ,
  'background': url("~/static/background.jpg") center/cover no-repeat border-box fixed,
));

//$navbar-background: rgba(red, 0.97);
//$drawer-background: rgba(navy, 0.8);
//$navbar-background: rgba(var(--v-header_background), 0.97);
//$drawer-background: rgba(var(--v-header_background), 0.8);
